{namespace fs=SotaStudio\Flexslider\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<f:if condition="<f:count subject='{flexSliders}' /> > 0">

		<f:render partial="ResourceFiles" arguments="{settings: settings}"/>
        <f:render partial="JavaScript" arguments="{settings: settings, data: data, altUid: altUid}"/>

		<div class="flexslider" id="fs-{f:if(condition: data.pi_flexform, then: data.uid, else: altUid)}">
			<ul class="slides">

				<f:for each="{flexSliders}" as="slide">
					<li>
						<fs:DynLink arguments="{link: slide.link}">
							<f:image
								src="uploads/tx_flexslider/{slide.image}"
								alt="{slide.caption}"
								width="{settings.images.width}" height="{settings.images.height}"
								minWidth="{settings.images.minWidth}" minHeight="{settings.images.minHeight}"
								maxWidth="{settings.images.maxWidth}" maxHeight="{settings.images.maxHeight}" />
						</fs:DynLink>
						<f:if condition="{settings.showCaption} > 0">
							<f:then>
								<f:if condition="{configuration.extendSubtitleByRTE}">
									<f:then>
										<div class="flex-caption">
											<f:if condition="{slide.title}">
												<h3>{slide.title}</h3>
											</f:if>
											<f:if condition="{slide.subtitle}">
												<div>
													<f:format.html parseFuncTSPath="lib.parseFunc">{slide.subtitle}</f:format.html>
												</div>
											</f:if>
										</div>
									</f:then>
									<f:else>
										<p class="flex-caption">
											<f:if condition="{slide.title}">
												<strong>{slide.title}</strong>
											</f:if>
											<f:if condition="{slide.subtitle}">
												<span>{slide.subtitle}</span>
											</f:if>
										</p>
									</f:else>
								</f:if>
							</f:then>
						</f:if>
					</li>
				</f:for>

			</ul>
		</div>

	</f:if>

</f:section>
